body
  min-height: 100vh !important;
  background-color: $borderColor !important;

:root
  scroll-behavior: smooth;

.page-nav
  display: none !important;

.theme-default-content:not(.custom)
  max-width: 1100px !important;

.theme-container, .sidebar, .navbar, .links
  background-color: #151618 !important;

.search-box
  display: none !important;

hr
  border: 0;
  border-top: 1px solid $textColor;

img
  border-radius: 12px;

tr
  background-color: #151618 !important;

::-webkit-scrollbar
  background-color: $borderColor;
  width: 5px;
  height: 6px;

::-webkit-scrollbar-thumb
  background-color: grey;
  border-radius: 12px;

.last-updated
  align-items: center;

.nav-link
  color: $textColorSecondary !important;

.sidebar-heading
  color: $accentColor !important;

.logo
  margin-top: 0.25rem !important;
  margin-right: 0.75rem !important;
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;

.nav-item
  margin-left: 1rem !important;

.sidebar .nav-links
  display: none !important;

.site-name
  color: #f0f6fc !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;

.custom-block.tip
  background-color: $codeBgColor !important;
  border-color: #42b983;

.custom-block.warning
  background-color: $codeBgColor !important;
  border-color: #6da6e8;
  color: #c9d1d9;

.custom-block.warning .custom-block-title
  color: #c9d1d9;

.custom-block.tip, .custom-block.warning, .custom-block.danger
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

@media screen and (max-width: $MQMobile) {

  .sidebar-open {
    position: fixed;
  }

};