// colors
$textColor = #c9d1d9;
$textColorSecondary = #8b949e;
$accentColor = #609ce0;
$borderColor = #151618;
$codeBgColor = #282c34;
$arrowBgColor = #151618;
$badgeTipColor = #42b983;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #DA5961;

// layout
$navbarHeight = 4rem;
$sidebarWidth = 280px;
$contentWidth = 740px;
$homePageWidth = 960px;

// responsive breakpoints
$MQNarrow = 1012px;
$MQMobile = 768px;
$MQMobileNarrow = 544px;